* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

p {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Bitcount Prop Single";
  font-size: 50px;
}

p:hover {
  color: blue;
  text-decoration: underline;
  text-shadow: 10px 3px 10px red;
}

span {
  /* display: block; */

  /* display: inline-block;
    width: 50%;
    max-width: 150px;
    height: 100px; */

  /* display: none; */

  /* position: fixed;
  bottom: 0px;
  right: 0px; */

  position: sticky;
  top: 0px;
  left: 0px;

  margin: 5px 20px 10px 40px;
  border: 5px solid black;
}

.changed{
  color: black;
  background-color: yellow;
}