# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Visual Studio
.vs/

# C# build outputs
bin/
obj/
*.user
*.suo
*.exe
*.dll
*.pdb

# Node modules
node_modules/


BookKiskinov13.pdf
APznzaaFCtcGLdhAgf_-Z9UvHZsfEAYMm-sOnacB9Nvx4xh0mEXTIlZS-0M9uDNa7ciXeGB7aW4UUWfOY533_xb0mtzDjlhptqIajjxGzAw8LEOH2hfKeUcgI-spgRG4jtHRs1TDNE4xM_x4tySBthkO-R0A3FIZJIFCXRY1WeczOr1mOn1ciDDOV7nYWQMcTiz4C0f3MoPstip9d2YjtWwu.pdf