* {
  margin: 0;
  padding: 0;

  font-family: "Poppins", sans-serif;
}

.form {
  display: grid;
  justify-items: center;
}

.form h1 {
  color: rgb(69, 69, 255);
  margin-top: 40px;
  margin-bottom: 20px;
}

.form input[type="text"],
.form input[type="number"] {
  border-color: rgb(69, 69, 255);
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 15px;
  width: 80%;
  margin: 2px;
}

.form input[type="submit"] {
  background-color: rgb(69, 69, 255);
  color: white;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  border: none;
  width: 81.7%;
  margin: 2px;
  margin-bottom: 50px;
}

table, th, td{
    border-right: 20px solid transparent;
}

table{
    margin-bottom: 40px;
}