#container{
    display: inline-grid;
    width: 100%;
    height: 300px;
    border: 1px solid red;

    padding: 10px;
    row-gap: 10px;
    column-gap: 10px;
    /* place-items: start; */
    place-items: end stretch;
    grid-template: "i01 i02 i03 i04"
                   "i05 i06 i06 i06"
                   "i07 i07 i07 i07";
background-image: url("https://media.istockphoto.com/id/1201041782/photo/alpaca.jpg?s=612x612&w=0&k=20&c=aHFfLZMuyEyyiJux4OghXfdcc40Oa6L7_cE0D7zvbtY=");
background-size: contain;
background-repeat: no-repeat;
background-position: center;
/* filter: brightness(200%);  */
filter: blur(10px);
}
.item{
    border: 1px solid blue;
    text-align: center;
}
#i01{
    grid-area: i01;
}
#i02{
    grid-area: i02;
}
#i03{
    grid-area: i03;
}
#i04{
    grid-area: i04;
}
#i05{
    grid-area: i05;
}
#i06{
    grid-area: i06;
}
#i07{
    grid-area: i07;
}