#flex-container{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    height: 300px;
    border: 1px solid blue;
}

div{
    display: inline-block;
    width: 60px;
    border: 1px solid red;
}
#div2{
    flex: 4;
}

@media (max-width: 500px){
    #div2{
        background-color: red;
    }
}

@media (max-width: 400px){
    #div2{
        background-color: green;
    }
}
