.product-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 1em;
}

.product{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.product p{
    font-weight: 600;
}

.product img{
    height: auto;
    border-radius: 10px;
}